{% extends 'base.html' %}



{% block header %}

<!-- VERY IMPORTANT THAT H1 IS ON ONE LINE -->
<h1>Intro to Logic Gates and Binary Operations</h1>
<h2>Week One</h2>

{% endblock %}

{% block content %}



<p>
	Starting to emulate chips, we'll be using an FPGA (Field Programmable Gate Array) on which we can 'store' our chip design.
Different layers of abstraction allow for easier programming.
</p>

<ul>
	<li>Level 0: Digital Logic Level</li>
	<li>Level 1: MicroProgramming Level</li>
	<li>Level 2: Instruction Set Architecture (Binary Instruction, ISA)</li>
	<li>Level 3: Operating System Level (Assembly)</li>
	<li>Level 4: Bytecode; some languages compile into this, notably Java.</li>
	<li>Level 5: Program Oriented Language Level (OOP etc...)</li>
</ul>

<h2>Logic Gates
</h2>
<p>
	For the following, input is designated as A, B... and output designated by Y.
</p>
<span class="bold">BUF</span> - This resets the signal. A = Y
<span class="bold">NOT</span> - Sets output equal to complement of input. Ã = Y

<span class="bold">AND</span> - Returns true only if both inputs are true. Y = AB
<span class="bold">OR</span> - Retunes true if any of the inputs are true. Y = A + B

With binary operations, 1 + 1 = 1, but multiplication works as normal, such that 0*1 = 0.

<span class="bold">NAND</span> = not( A and B )
<span class="bold">NOR</span> = not( A or B )

<p>
	X-Gates are used for situations in which you want it to output when only one of the inputs are activated.
</p>
<span class="bold">XOR</span> = exclusively_one( A or B ) ie: 0 0 gives nothing, as does 1 1.
<span class="bold">XNOR</span> = not(XOR)

<h3>
	Multiple Input Logic Gates:
</h3>
<span class='note'>
	Note: The number after the logic gate determines the number of inputs the gate has. BUF and NOT by default only have one. AND and NOT by default have two.
</span>
<span class="bold">NOR3</span> = not(any combination of ones gives a true result)
<span class="bold">AND4</span> = only activates when all inputs are true.

<h2>
	Logic Levels:
</h2>
<p>
	Although in theory, voltage levels work in binary amounts (either 0V or 5V) this isn't possible in practice. Therefore the circuits have a range built into them, allowing 4.9 = 5 and 0.1 = 0. Obviously though, values like 3.2 will just cause errors or be ignored.
</p>
<h2>
	Types of Logic Circuits:
</h2>
<p>
	Combinational - Only composed of a sequence of AND/OR gates. ie: there are no logic gate loops.
</p>

<p>
	Sequential Logic - The output of these types of logic are based on both input and the current state of the system. These systems have memory.
</p>

<span class="note">
	Note: Convention dictates that circuits should be laid out with input on the left and output on the right.
</span>

<h2>Terminology:</h2>

<p>
	Complement - Variable with a bar over it. It designates the inverse of the input.
</p>
<p>
	Literal - Refers to a variable or its complement.
</p>
<p>
	Implicant - Product of literals; AND operator.
</p>
<p>
	Minterm - product that includes ALL input variables. AND with all input variables. All minterm combinations are exclusive for each line within a truth table.
</p>
<p>
	Maxterm - sum that includes all input variables. OR with all input variables.
</p>
<h2>
	Sum of products rule:
</h2>
<p>
	All boolean expressions can be written in this form.
To form the expression, observe the output in the truth table. For example, if A0 B1 -> Y1, A1 B1 -> Y1 and the others return 0, then you can form the expression ÃB + AB = F(A,B) = Y.
</p>

<p>
	From this, you can extrapolate the circuit diagram. Note though, that this does not always return the most efficient circuit, even if it is correct. Ie: in the above example, the system ÃB + AB can just be replaced by linking B to Y.
</p>
{% endblock content %}


