{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Boolean Algebra</h1>
{% endblock header %}

{% block content %}
<!-- put content here! -->

<h2>
	Look at appendix from moodle
</h2>

<p>Look at general rules on boolean algebra from lecture. DO THIS! The best way to verify that two expressions of boolean algebra are equal to one another is to create a truth table.</p>

<p>Look at DeMorgan's Theorem for some general rules on boolean algebra. Such that: _A_B = _A + _B and _(A + B) = _A_B.
 </p>

<p>To establish the original circuit in a system with multiple inputs, treat the truth table as separate systems. This way, for a circuit with 4 outputs, convert a single truth table into 4.</p>

<p>Contention is a situation wherein you have wired outputs of a 1 and a 0 directly together. It almost always indicates a bug.</p>

<p>In a tristate buffer, you can use a separate wire to 'control' whether or not the the tristate buffer is activated. When the 'E' is active (with a one), then it acts as a buffer for A. </p>

<h2>Karnaugh Maps</h2>

<p>To simplify boolean algebra, use Karnaugh Maps (K-Maps, [karno map]). When laying out these maps, always make sure that the bits are laid out as in the lecture table so that only one bit changes at a time. When filling these out, don't be disconcerted by the fact that you aren't filling them out in order. Check second example for error.</p>

<p>When looking at Karnaugh Maps, circle the circumstances which create true output. From this, look for the digit that does not change, and so build the equation from that. Note that the thing that does not change can be both a False or a True.</p>

<ul>
	<li>Every 1 in a K-Map must be circled at least once</li>
	<li>Each circle must span a power of two (2, 4, 8 etc... [not 6!!])</li>
	<li>A circle may wrap around the edges of the K-map, a circle can wrap to other sides of the map.</li>
</ul>

<p>Corners with a Karnaugh table connect. Look at slide 100 to observe this. Only the corners connect as a sphere, no other section on the circuit acts like this.</p>

<p>To make a display, essentially you need to create a circuit that lights up different segments depending on each letter. The truth table should be representative of what each number looks like as a function of its segments.</p>
{% endblock content %}
