{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Differing Schools of Thought for Intelligent Systems</h1>

{% endblock header %}

{% block content %}
<!-- put content here! -->

<p>
	Two spectra: human behaviour vs human thinking and replicating human performance vs idealised performance.
</p>

<ol>
	<li>
		A system that acts and behaves like people do. The turing test is a good example of this.
	</li>

	<li>
		A system that thinks the way a human does. In this sense, this requires thorough understanding of the human mind to fully implement a machine that could replicate. An area known as cognitive science, using processes such as introspection (asking them about why they are doing it) to try and understand the patterns behind it. Within this view, you have to believe to some extent that all thought processes can be understood through algorithms.
		Within this idea, there are several components that need to be part of a program to successfully emulate this process. It needs working memory to understand the end goal. CONTINUE FROM SLIDES
		If the goal is to create programs that replicate human thinking, does that mean that computers are able to think. Can computers be intelligent if they are simply following a procedural based idea of human thinking?
		The chinese room argument is a good example of problems many academics have with this model of computer intelligence. Implication: even if computers are able to do the things we regard as intelligent, that they are equivalent to humans.
	</li>
</ol>

<h2>Strong AI vs Weak AI
</h2>

<p>
	Strong: Mental activity is simply the carrying out of a sequence of operations and is simply mechanical. Because we can create computers which replicate this mechanical model, we can build 'intelligent' computers.
</p>
<p>
	Weak: Weak AI only claims that machines can act intelligently. Strong AI claims that a machine that acts intelligently also has a mind and understands in the same sense people do. (from wikipedia)
</p>

<ol>
	<li>
		Thinking rationally.
		<p>	
			Within this, logic is held as optimal within the 'laws of thought'. Thus, we can create irrefutable reasoning structures that always yield correct conclusions. Following from this, we can formalise logic and build programs that solve formal logical problems. 
		</p>	
		<p>	
			However, it is very difficult to take informal knowledge of a complex system and state it in the terms required by logical notation. Ie: difficult to express how a doctor might prescribe certain medication based on different circumstances within logical syntax.
		</p>
	</li>
	
	<li>
		Intelligent systems are rational agents. 
		<h3>Rational agents:
		</h3>
		<ul>
			<li>Operate autonomously</li>
			<li>Perceive their environment</li>
			<li>Persists over a prologned time period (can gain experience/knowledge)</li>
			<li>Adaptable</li>
			<li>Create and pursue goals</li>
		</ul>

		<p>
			Within this view, rationality stems from action in situations. Therefore, it follows that action can be without reasoning under this system. Is this instinct?
			Generally this school of though will be followed within this course. It allows for various advantages over the other schools of thought.
			Things that we find hard were easy to achieve for computers, but things that are easy for us are hard for computers.	
		</p>
	</li>
</ol>


A cognitive system is a system that acts intelligently; ability for reasoning, plausible deduction (guessing).

{% endblock content %}