
{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Intelligent Agents</h1>
{% endblock header %}



{% block content %}
<!-- put content here! -->

<p>An autonomous system that sees and acts on its environment. For it to qualify, it has to have some awareness of its environment, such that it can act on it.</p>

<h2>An intelligent agent should have:</h2>

<ul>
	<li>Awareness of environment</li>
	<li>Percept Sequence - A 'list' of everything the agent has ever perceived</li>
	<li>Agent Function - mapping of percept function to an action carried out by the agent</li>
	<li>Agent Program - Implements the agent function ???</li>
</ul>

<p>Although this is a very simplified model, we try to create enough abstraction so that we can apply this to any intelligent agent.</p>

<p>Analysing an intelligent agent can be done, simply by observing whether or not it 'does the right thing'. Use some performance measure to overview its correctness. These measures ideally should be universal and not domain specific; for roomba, it might be the amount of dirt picked up in a timeframe</p>

<h2>Rationality based on four factors</h2>

<ol>
	<li>The performance measure is the metric that we measure an agent's success</li>
	<li>The agent's prior knowledge of the environment [a roomba may know how dirty some sections of a room gets]</li>
	<li>The actions that the agent can perform; its ability to act to a variety of situations</li>
	<li>The agent's percept sequence to date [all the things that it has 'understood' so far. In some cases this can include location given previous circumstances and the state that this environment is in.]</li>
</ol>

<h2>From Slides:</h2>
<div class="note">
	For each possible percept sequence, a rational agent should select an action that is expected to maximize its performance measure given the evidence provided by the percept sequence and whatever built‐in knowledge the agent has.
</div>

<p>
	Rationality is not omniscience. An intelligent agent needs not to act perfectly. To account for this, some more sophisticated agents can have access to <span class="italic">learning</span>. In fact, simply as a function of existing, a rational agent can't be all-seeing.
</p>

<h2>Autonomy</h2>

<p>We expect a rational agent to be autonomous. From slides: Learning what it can to compensate for partial or incorrect prior knowledge.</p>

<h2>Properties of task enviroments</h2>

<p>Environments may not be fully observable all the time. An agents sensors can give it access to the complete state of the environment. We define this as the environment being fully observable.</p>

<p>Single agent vs multi-agent. Generally, the more agents, the more complex the system.</p>

<p>Deterministic vs stochastic. Some agents can <span class="italic">determine</span> the environment that they are in, and act according to the world as they perceive it. In a stochastic system, the observable world is of no importance as the agent simply acts on the likely state of the environment.</p>

<p>Episodic vs Sequential. Episodes are groups of actions that are meaningful together. Agents act in terms of completely distinct episodes. If it isn't this, it's sequential.</p>

<p>Static vs Dynamic. Ability to react to change. If an agent cannot adapt to environments that change then they are defined as being static. Otherwise non-learning sytems are static.</p>

{% endblock content %}