{% extends 'base.html' %}

{% block header %}
<h1> {{title|title}} </h1>
{% endblock %}



{% block content %}
<ol>
	{% for title in titles_array %}
		<li> <a href='{{module}}/{{loop.index}}'>{{title}}</a> </li>
	{% endfor %}
</ol>
{% endblock %}