#top {
	background-color: #ccc;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: -10px;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	border-bottom: 1px dotted black;
}


#data {
	margin-top: -10px;
	font-family: sans-serif;
	font-size: 14px;
}

ul {
	list-style: none;
}

.navigation {
	clear: both;
}

#date {
	margin-top: 5px;
	font-family: sans-serif;
	font-size: 14px;
}

#name {
	font-family: sans-serif;
	font-size: 22px;
	margin-top: 20px;
	font-weight: bold;
}

body {
	font-family: verdana;
	font-size: 13px;
	width: 60%;
	margin-left: 15%;
	padding-bottom: 20%;
	background-color: #eee;
}

h1 {
	font-family: verdana;
	font-size: 18pt;
	margin-top: 50px;
	float: left;
	clear: both;
}

h2 {
	font-size: 13pt;

	font-weight: bold;
	margin-top: 25px;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;

}

#notes {
	padding-left: 50px;
	padding-top: 20px;
}

#emphasis {
	font-size: 18px;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#lecture_directory {
	padding-top: 20px;
	margin-left: 15%;
}

#lecture_directory li{
	list-style-type: none;
	padding-bottom: 10px;
	margin-left: -40px;
	font-size: 14px;
}

#lecture_directory a {
	text-decoration: none;
	color: black;
}

#lecture_directory a:hover {
	border-bottom: 2px solid black;
}

#discussion_directory {
	padding-top: 0px;
	margin-left: 15%;
}

#discussion_directory li{
	list-style-type: none;
	padding-bottom: 10px;
	margin-left: -40px;
	font-size: 14px;
}

#discussion_directory a {
	text-decoration: none;
	color: black;
}

#discussion_directory a:hover {
	border-bottom: 2px solid black;
}

/* Mobile devices */
@media only screen and (max-device-width: 480px) {

	img {
		width: 95%;
	}

	#top {
		margin-top: -5px;
		padding-top: 50px;
		width: 100%;
		position: relative;
	}

	body {
		margin-left: 0;
		width: 100%;
		padding-bottom: 10%;
	}

	#data {
		font-size: 50px;
		margin-top: 30px;

	}

	#name {
		font-size: 100px;
	}

	#date {
		font-size: 50px;
		margin-bottom: 30px;
		margin-top: 20px;
	}

	#notes {
		width: 90%;
		margin-top: 100px;
		margin-right: 50px;
		padding-top: 0px;
		padding-left: 100px;
		font-size: 40px;
		font-family: serif;
	}

	#notes h1 {
		font-size: 80px;
		margin-top: 160px;
	}

	#notes h2 {
		font-size: 40px;
		margin-top: 80px;
		font-family: sans-serif;
	}

	#emphasis {
		font-size: 60px;
	}

	#lecture_directory {
		margin-left: 0%;
		margin-top: 100px;
	}

	#lecture_directory h2 {
		font-size: 50px;
		margin-left: 50px;
	}

	#lecture_directory li {
		font-size: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
		background-color: #ccc;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: -65px;
		margin-left: -5px;
	}

	#lecture_directory a:hover {
		border-bottom: 0px solid black;
	}

	#lecture_directory li:hover {
		background-color: #aaa;
	}

	#discussion_directory {
		padding-top: 100px;
		margin-left: 0%;
	}

	#discussion_directory h2 {
		font-size: 50px;
		margin-left: 50px;
	}

	#discussion_directory li {
		font-size: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #ccc;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: -65px;
		margin-left: -5px;
	}

	#discussion_directory a:hover {
		border-bottom: 0px solid black;
	}
	
	#discussion_directory li:hover {
		background-color: #aaa;
	}

}