* {
	margin:0;
}

body {
	font-family: sans-serif;
	text-align: left;
}

h1 {
	margin-top: 30px;
}

.header {
	position: absolute;
	top: 2%;
	left: 10%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	border-bottom: 2px solid black;
}

li {
	list-style-type: none;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

ul {
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-padding-start: 0px;
}

img {
	margin: 0 auto;
	width: 100%;
	z-index: -50;
	position: static;
	left: 0;
	top: 0;
}


/* Mobile devices */
@media only screen and (max-device-width: 480px) {

	h1 {
		font-size: 150px;
		margin-top: 100px;
	}

	li {
		font-size: 75px;
		display: block;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #ccc;
	}

	a:hover{
		border-bottom: 0px solid black;
	}

	li:active {
		background-color: #aaa;
	}
	
	img {
		margin-top: 75px;
		margin-bottom: 75px;
		width: 95%;
	}
}