<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='notes_style.css') }}">
    <title>{{module}} :: Notes</title>
</head>
<body>
    <div class='topbar'>
    </div>
    <div class="header">
        <div class='title'>{% block header %}{% endblock %}</div>
        <div class='navigation'>
        {% if id %}

        <a href='/{{module}}/'>{{module}}</a> :: 

        {% endif %}
        <a href="/">home</a>
    </div>

    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
    
</body>
</html>
