<html>
<head>
	<meta charset="UTF-8">
	<title>Term 1</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="header">
		<h1>Term 1</h1>
	<ul>
		<li><a href="architecture">architecture</a></li>
		<li><a href="programming">programming</a></li>
		<li><a href="theory">theory</a></li>
		<li><a href="cogsys">cogsys</a></li>
	</ul>
	</div>
	
	<img src="{{ url_for('static', filename='ucl.jpg')}}">
</body>
</html>