{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Introductory Lecture</h1>
{% endblock header %}

{% block content %}
<!-- put content here! -->
<h2>Imperative Programming</h2>

<p>From wikipedia: imperative programming is a programming paradigm that describes computation in terms of statements that change a program state.</p>

<p>This is the style used my most languages (C, Java, Python etc.)</p>

<h2>Functional Programming</h2>

<p>From wikipedia: functional programming is a programming paradigm, a style of building the structure and elements of computer programs, that treats computation as the evaluation of mathematical functions and avoids state and mutable data.</p>

<p>We will learn this in the second half of term with Haskell.</p>

{% endblock content %}