{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Imperative Programming</h1>
{% endblock header %}

{% block content %}
<!-- put content here! -->



<h2>Data Types</h2>

<h3>Floating Point Numbers</h3>

<p>In computers, one of the problems that people have, is that the memory size allocated to store an integer is only so many bits large. If necessary, you can use floating point numbers, which store numbers with so many bits as the number, and then so many bits as the exponent.</p>

<p>This hugely increases the range of numbers that can be represented, but introduces approximation errors. For example, you can represent the integer 123456789123456789 as a floating point number, but when you do, the computer might convert it to 1.234*10^17. Clearly this is not the same number, and results in  n+1=n for large n.</p>

<h3>Chars</h3>

<p>In C you can allocate a single byte of memory (8 bits) to hold a letter. If you want to represent a word, you need to do char something[]; which initialises an array of chars.</p>

<h2>Style Guides</h2>

<p>When programming, use the DRY [don't repeat yourself] principle. </p>

<ul>
	<li>Variables should indicate the purpose of the variable</li>
	<li>Variables should be pronounceable</li>
	<li>Variables can include underscore, or you can use camelCase</li>
</ul>
{% endblock content %}