{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Introduction to algorithms</h1>
{% endblock header %}

{% block content %}
<!-- put content here! -->

<p>Algorithms allow us to solve problems, often through iterating a series of commands. For example, multiplication can be achieved by iterating through n numbers of the m number that you want to multiply.</p>

<p>However, a simpler way to do this is to use multiplication by doubling, that can vastly reduce the number of 'cycles' that a computer has to go through. See slide 21 for more examples of this.</p>

<p>We define efficiency to be mainly based on two things:</p>

<ul>
	<li>Input Size (memory used)</li>
	<li>Running Time</li>
</ul>

<p>When looking at the efficiency of an algorithm, we observe two different scenarios: average case and worst case. These are self evident. Usually, the algorithm's speed changes based on the different types of input it receives. Eg: for a sorting algorithm, the running time might depend on how sorted the list is already.</p>

<div class="note">
	Note: Whenever we use logarithmic running times, these are ALWAYS base 2.
</div>

<p>Use Euclid's algorithm for an efficient method to find the Largest Common Divisor between two numbers.</p>

{% endblock content %}