{% extends 'base.html' %}

{% block header %}
<!-- put title here! -->
<h1>Data Structures</h1>
{% endblock header %}

{% block content %}
<!-- put content here! -->
<h2>Linked Lists</h2>

<p>For linked lists, the list is not stored contiguously in memory. Instead, each value is stored individually with a second value which acts as a pointer to the next value.</p>

<p>These are very memory efficient, particularly if you need to change the size of the list a lot. However, traversing this list is not efficient at all as you can only access the list sequentially. For a 100 long list, you could potentially have to do 100 cycles to get to the value you want.</p>

<h2>Stack</h2>

<p>A list, where items can only be added or removed from the end of the list. Recursive functions create stacks of the calls, which is ideal because the parent function is guaranteed to survive for the length of the child call.</p>

<h2>Queue</h2>

<p>Just like a real life queue, elements are added from one end of the stack and removed from the other.</p>

<h2>Dict</h2>

<p>An unordered data structure, values are stored in key/value pairs. Although a reasonably recent data structure that has yet to enter more traditional languages, extremely useful for storing values that correspond to something else.</p>

<h2>Graphs</h2>

<p>A data structure used to represent how things are connected together. Composed of a series of 'nodes' and 'edges' that represent the objects and their connections respectively.</p>

<p>Paths are represented by node pairs (x,y) where the order represents the direction of 'travel'.</p>

<h3>Directed Graph</h3>

<p>Directed graphs are a collection of nodes and edges, where each edge is one-directional. Although there can be two edges going back and forth between two nodes, it is not necessary.  </p>

<h3>Undirected Graph</h3>

<p>As above, except all edges are bi-directional. In this data structure (x,y) = (y,x) </p>

<h3>Weighted Graph</h3>

<p>This graph can be either directed or undirected, but in this case each edge can have 'weight'; another number which is written over the edge.</p>

<h3>Directed Acyclic Graph</h3>

<p>This graph has no cycling, preventing you from returning from a node that you came from.</p>

<h3>Tree</h3>

<p>A graph where there is a single node (the root) from which you can access every other node via a single path. Nodes with no children are called leaves.</p>

<h3>Binary Tree</h3>

<p>A tree where each node has AT MOST 2 children.</p>

<h3>Other graph notes:</h3>

<p>Graph links are represented by a series of paths. Eg: a->b->c. Note though, these links have to exist for it to be correct (duh!). </p>

<p>We define strongly connected graphs as when there exists a path (however indirect) for every possible set of nodes.</p>

<p>We define connected graphs as when there exists any form of directional link (even in the wrong direction) between all nodes.</p>

<h2>Tree Traversal</h2>

<h3>Pre-order</h3>

<p>Visit the root node first. Then recursively visit the left children, and then the right children.</p>

<h3>Post-order</h3>

<p>Beginning at the bottom of the tree, recursively visit all children of the above node before going to the parent node itself. As above, this process takes place left-to-right.</p>

<h3>In-Order</h3>

<p>Beginning at the bottom of the tree, visit the parent node, then recursively visit all the children of this parent node before going up another level.</p>

<img src="{{ url_for('static', filename='img/tree_traversal.png') }}" alt="">

<div class="note">See slide 65</div>

{% endblock content %}